 html {
            scroll-behavior: smooth;
        }

        body {
            margin: 0;
            padding: 0;
            font-family: Times New Roman;
        }

        /* NAVIGATION BAR */
.navbar {
    display: flex;
    justify-content: center; /* Center align items horizontally */
    align-items: center;
    background-color: #ddc2ff;
    width: 100%;
    color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 10px 0; /* Adjusted padding */
    transition: height 0.3s ease;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: center; /* Center align items horizontally */
    flex-grow: 1; /* Allow navbar-links to grow */
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 20px; /* Added gap for spacing between links */
    justify-content: center; /* Center align items horizontally */
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: black;
    padding: 10px 15px; /* Adjusted padding for better spacing */
    display: block;
}

.navbar-links li:hover {
    background-color: #e4fff6;
    border-radius: 0.5rem;
}

/* HAMBURGER MENU */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin: 10px;
}

.menu-toggle div {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px 0;
    transition: all 0.3s ease;
}

@media (max-width: 700px) {
    .navbar {
        flex-direction: column;
        align-items: center; /* Adjust alignment */
        height: auto;
    }

    .navbar-links {
        display: none;
        flex-direction: column; /* Change to column layout */
        align-items: center; /* Center align links */
        width: 100%;
        margin-top: 10px; /* Add some spacing */
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links ul {
        margin: 0;
        padding: 0;
    }

    .navbar-links li {
        text-align: center;
        width: 100%;
    }

    .navbar-links li a {
        padding: 15px 0; /* Adjust padding */
    }

    .menu-toggle {
        display: flex;
        align-self: flex-end; /* Move to the right */
        margin: 10px 10px 0 0; /* Add margin */
    }

    .menu-toggle div {
        width: 25px; /* Reduce width */
        height: 3px;
        background: black;
        margin: 4px 0; /* Adjust margin */
    }
}

        /* HOME SECTION */
        #section1 {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background: #008B8B;
            padding: 20px;
        }

        .section1-content h1 {
            color: #ffffff;
            letter-spacing: 2px;
            font-size: 50px;
        }

        .section1-content p {
            color: #fcfcfc;
            letter-spacing: 1px;
            line-height: 28px;
            font-size: 25px;
            margin-bottom: 45px;
        }

        .btnexplore {
            background: #292929;
            color: white;
            text-decoration: none;
            border: 2px solid transparent;
            font-weight: bold;
            padding: 13px 30px;
            border-radius: 30px;
            transition: .4s;
        }

        .section1-content .btnexplore {
            border: 2px solid #ffa31a;
            padding: 10px 60px;
            letter-spacing: 2px;
            transition: 0.5s all;
        }

        .section1-content .btnexplore:hover {
            background-color: #ffa31a;
            border: 0;
        }

        /* ABOUT SECTION */
        #section2 {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #008B8B;
            padding: 20px;
        }

        .about {
            width: 100%;
            background-color: #FFC6BF;
            padding: 60px 20px;
            max-width: 1100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .about img {
            height: auto;
            width: 100%;
            max-width: 420px;
            margin-bottom: 20px;
            filter: drop-shadow(0.75em 0.75em 0.5em);
        }

        .about-text {
            width: 100%;
            max-width: 550px;
            text-align: center;
        }

        .about-text h1 {
            color: black;
            font-size: 50px;
            text-transform: capitalize;
            margin-bottom: 20px;
        }

        .about-text h5 {
            color: black;
            font-size: 25px;
            text-transform: capitalize;
            margin-bottom: 25px;
            letter-spacing: 2px;
        }

        span {
            color: #f9004d;
        }

        .about-text p {
            color: black;
            letter-spacing: 1px;
            line-height: 28px;
            font-size: 18px;
            margin-bottom: 45px;
        }

        button {
            background: #f9004d;
            color: white;
            text-decoration: none;
            border: 2px solid transparent;
            font-weight: bold;
            padding: 13px 30px;
            border-radius: 30px;
            transition: .4s;
        }

        button:hover {
            background: transparent;
            border: 2px solid #f9004d;
            cursor: pointer;
        }

        /* SKILLS SECTION */
        #skills {
            background: skyblue;
            padding: 60px 20px;
            text-align: center;
        }

        .skills-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            max-width: 1100px;
            margin: 0 auto;
        }

        .skill {
            background-color: #292929;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .skill:hover {
            transform: translateY(-10px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }

        .skill h3 {
            color: #ffa31a;
            margin-bottom: 10px;
            font-size: 24px;
        }

        .skill p {
            color: #fcfcfc;
            font-size: 18px;
            line-height: 1.5;
        }

        /* EDUCATION SECTION */
        #section3 {
            background: #FFE7C7;
            padding: 60px 20px;
            text-align: center;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 35px;
            justify-content: center;
            margin: 0 auto;
            max-width: 1100px;
        }

        .grid img {
            width: 100%;
            height: auto;
            cursor: pointer;
            box-shadow: 0 6px 12px 0 rgb(206, 223, 255);
        }

        .grid img:hover {
            transform: translateY(10px);
        }

        #lightbox {
            position: fixed;
            z-index: 1000;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .8);
            display: none;
        }

        #lightbox.active {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #lightbox img {
            max-width: 90%;
            max-height: 80%;
            padding: 4px;
            background-color: black;
            border: 2px solid white;
        }

        /* CONTACT SECTION */
        #section4 {
            background: #FEF8DD;
            padding: 60px 20px;
        }

        .contact-container {
            max-width: 1100px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 20px;
            background: #808080;
            box-shadow: 0 0 1rem hsla(0 0 0 / 16%);
            border-radius: 0.5rem;
            overflow: hidden;
            padding: 20px;
        }

        #section4 h1 {
            color: gray;
            text-align: center;
        }

        .form-container {
            padding: 20px;
            background: #292929;
            border-radius: 10px;
        }

        .form-container h3 {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 1rem;
            color: white;
        }

        .contact-form {
            display: grid;
            gap: 1rem;
        }

        .contact-form input,
        .contact-form textarea {
            width: 100%;
            border: none;
            outline: none;
            background: #fff;
            padding: 10px;
            font-size: 0.9rem;
            color: #000;
            border-radius: 0.4rem;
        }

        .contact-form textarea {
            resize: none;
        }

        .contact-form button {
            background: #f9004d;
            color: white;
            border: 2px solid transparent;
            font-weight: bold;
            padding: 10px;
            border-radius: 10px;
            transition: 0.4s;
            cursor: pointer;
        }

        .contact-form button:hover {
            background: transparent;
            border: 2px solid #f9004d;
        }

        /* FOOTER */
        .footer {
            text-align: center;
            padding: 20px;
            background: #292929;
            color: white;
        }

        /* MEDIA QUERIES */
        @media (max-width: 768px) {
            .project-title, .project-title1 {
                font-size: 25px;
            }

            .about {
                flex-direction: column;
                align-items: center;
            }

            .about img, .about-text {
                width: 100%;
                text-align: center;
            }

            .about-text h1 {
                font-size: 40px;
            }

            .about-text h5 {
                font-size: 20px;
            }

            .about-text p {
                font-size: 16px;
            }
        }
